$blue = #001C3F
$red = #FF697C
$secondary-blue = #B7BCBF
$hover = darken($red, 50%)
$transition-time = 0.1s
$radius = 2px
$lato = 'Lato', sans-serif
$light-blue = #D7E9F5

white-text()
  color white
  text-shadow 0 3px 2px rgba(0,0,0,0.1)

component-shadow()
  box-shadow 0 1px 2px 0 rgba(215,233,245,.3), 0 2px 4px 0 rgba(0,0,0,0.2)

input()
  color $blue
  width 100%
  background lighten($light-blue, 85%)
  border none
  outline none
  font-size 1em
  padding 1.3em 1.4em
  margin 0
  border-top 2px solid lighten($light-blue, 60%)

  &:hover
    background #fff

  &:focus
    background #fff

  &:last-of-type
    margin 0