<nav>
  <div class="logo">
    {{#link-to "index" tagName="li"}}
      <img src="https://amicus-assets-homepage.s3.amazonaws.com/assets/amicus_logo-494a35ac2065cdcf51e98e7923b64395.png" alt="Amicus">
    {{/link-to}}
  </div>
  <ul class="top-nav">
    {{#link-to "features" tagName="li"}}Features{{/link-to}}
    {{#link-to "post" tagName="li"}}Amicus Post{{/link-to}}
    {{#link-to "careers" tagName="li"}}Careers{{/link-to}}
  </ul>
</nav>

<div class="container">
  {{outlet}}
</div>

<footer>
  <ul class="footerNav">
    {{#link-to "privacy" tagName="li"}}Privacy Policy{{/link-to}}
    {{#link-to "terms" tagName="li"}}Terms of Service{{/link-to}}
    <p>© Amicus 2015</p>
  </ul>
</footer>