{{top-nav tagName="nav"}}
<div class="container">
  {{outlet}}
</div>
<footer>
  <ul class="footerNav">
    {{#link-to "privacy" tagName="li"}}Privacy Policy{{/link-to}}
    {{#link-to "terms" tagName="li"}}Terms of Service{{/link-to}}
    <p>© Amicus 2015</p>
  </ul>
</footer>