<div class="background careers">
  <h1>We're Hiring!</h1>
</div>
<div class="careers">
  <section>
    <h2>Why Amicus?</h2>
    <p>Amicus is reshaping civil society{{!--  through innovation --}}. We believe profits and social good can go hand in hand. At Amicus, you can work for a fast growing startup that's disrupting a really large market and feel great about what you do. Nonprofits in the U.S. currently spend $60 billion annually to raise $300 billion — 20 cents on the dollar! We build tools that increase the amount nonprofits raise, while drastically decreasing their costs. Amicus puts more money in the hands of great organizations and creates lots of value in the process. Tired of deciding whether to do good or do well? You've come to the right place.</p>
    <p>Oh, and we're based in New York City*, the Rome of our time.</p>
    <p>*Not based in NYC? Amicus can fix that.</p>
  </section>

  <section class="investors">
    <h2>Our Investors</h2>
    <p>Amicus is backed by an amazing group of investors:</p>
    <ul>
      <li>Y Combinator</li>
      <li>Founders Fund</li>
      <li>Omidyar Network</li>
      <li>RRE Ventures</li>
      <li>IA Ventures</li>
      <li>Quotidian Ventures</li>
      <li>500 Startups</li>
      <li>NYC Seed</li>
      <li>High Peaks Venture Partners</li>
      <li>Alexis Ohanian</li>
      <li>Esther Dyson</li>
      <li>Garry Tan</li>
    </ul>
  </section>

  <section class="openings">
    <h1>Amicus is hiring</h1>
    <div>
      <h2>Senior Developer</h2>
      <p>About You</p>
      <ul>
        <li>You’re a product-centric developer</li>
        <li>You feel a sense of responsibility over the products you build</li>
        <li>You take initiative and are comfortable working in uncertainty</li>
      </ul>
      <p>Required Skills</p>
      <ul>
        <li>Expertise in Rails, Javascript, MongoDB</li>
        <li>Strong knowledge of AWS ecosystem</li>
        <li>Proven ability to jump into a new project without much guidance</li>
      </ul>
      <p>Required Experience</p>
      <ul>
        <li>Experience running multi threaded Rails applications</li>
        <li>Experience developing and deploying SOA apps</li>
      </ul>
    </div>
  </section>

  <section>
    <h2>Apply</h2>
    <p>Your info (all fields required)</p>
    <form action="">
      <input type="text" placeholder="Name (First and last)">
      <input type="text" placeholder="Current job">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="Phone number">
      <input type="text" placeholder="Github or LinkedIn">
    </form>
    <label for="description">Why are you the right candidate?<textarea name="" id="description" cols="30" rows="10"></textarea></label>
    <button>Submit</button>
  </section>
</div>