<div class="features">
{{!--   <section class="counter">
    <ul>
      <li class="active" id="1"></li>
      <li id="2"></li>
      <li id="3"></li>
      <li id="4"></li>
      <li id="5"></li>
      <li id="6"></li>
      <li id="7"></li>
    </ul>
  </section> --}}
  <section class="container">
    <ul>
      <li class="click">
        <div class="icons">
          {{!-- <img id="signal" src="img/features/icons_signal.svg" alt=""> --}}
          {{!-- <img id="phone" src="img/features/icons_phone.svg" alt=""> --}}
          <p>1 x</p>
          <img id="pointer" src="img/features/icons_pointer.svg" alt="">
        </div>
        <div class="copy">
          <h1>One-click calls for intuitive, simple use.</h1>
          <p>Empower your volunteers to do more, by doing less.</p>
        </div>
        {{!-- <span class="hidden"><a href="#demo">Go make calls</a></span> --}}
        <span class="next">&#x25BD;</span>
      </li>
      <li>
        <h2>VoIP supported.</h2>
        <p>No phone? No problem. Volunteers can make calls securely online.</p>
        {{!-- <span class="hidden"><a href="#demo">Call with computer</a></span> --}}
        <span class="next">&#x25BD;</span></li>
      <li>
        <h2>Dynamic call scripts.</h2>
        <p>Prepare your volunteers for any interaction.</p>
        {{!-- <span class="hidden">
          <p>If the person says "Yes",</p>
          <p>Ask: Is this your first time registering to vote?</p>
          <form action="">
            <fieldset>
              <label for="yes"><input id="yes" type="radio" name="group">Yes</label>
              <label for="no"><input id="no" type="radio" name="group">No</label>
            </fieldset>
          </form>
        </span> --}}
      <span class="next">&#x25BD;</span>
    </li>
      <li>
        <h2>Distributed call centers.</h2>
        <p>Gone are the days where there weren't enough call stations.</p>
        <span class="next">&#x25BD;</span>
      </li>
      <li>
        <h2>Complete, easy campaign analytics.</h2>
        <p>Know how your team is doing, in real time.</p>
        <span class="next">&#x25BD;</span>
      </li>
      <li>
        <h2>Fully branded for your organization.</h2>
        <p>Reinforce your message.</p>
        <span class="next">&#x25BD;</span>
      </li>
      <li>
        <h2>Gamified, to recognize top volunteers</h2>
        <p>Leaderboards and friendly competition built in.</p>
        <span class="next">&#x25BD;</span>
      </li>
    </ul>
  </section>
  <section id="demo" class="features footer-demo">
    <div>
      <p>
        <b>Request a free demo</b>
      </p>
      {{demo-form-component tagName="form" classNames="footer demo-form" call-to-action="Submit"}}
    </div>
  </section>
</div>