{{!-- <div class="background features">
  <h1>Features</h1>
</div> --}}

<div class="features">

  <section>
    <ul>
      <li>One-click calls for intuitive, simple use</li>
      <li>VoIP supported, </li>
      <li>Distributed call centers</li>
      <li>Dynamic call scripts</li>
      <li>Full, easy campaign analytics</li>
      <li>Whitelabeling? Fully branded for your organization</li>
      <li>Gamified to recognize top volunteers</li>
    </ul>

  </section>
</div>