<div class="banner">
  <img src="img/2b.jpg" alt="">
  <section>
    <div class="content">
      <h1>The World's Best Peer to Peer Call Tool.</h1>
      <h2>Powering People Power</h2>
    </div>
  </section>
  {{demo-form-component tagName="form" classNames="demo-form" call-to-action="Request a free demo"}}
</div>

<div class="content">
  {{social-proof-component tagName="section" classNames="social-proof"}}
</div>

  <section class="features">
    <h1>Main Features</h1>
    <ul>
      <li>One-click calls for intuitive, simple use</li>
      <li>Distributed call centers</li>
      <li>Fully branded for your organization</li>
      <li>Gamified to recognize top volunteers</li>
    </ul>
  </section>

<div class="content">
  {{!-- <section>
    <h1>What our customers are saying</h1>
  </section> --}}
  <section class="press">
    <h1>In the news</h1>
    <ul>
      <li class="bloomberg"><a href="http://www.bloomberg.com/video/democratizing-democracy-shaping-the-election-p20TadhfR5KF18huJT15fQ.html"><img src="img/press/Bloomberg.png" alt="Bloomberg TV"></a></li>
      <li class="cnn"><a href="http://money.cnn.com/2012/08/28/technology/startups/facebook-house/index.html"><img src="img/press/CNN.png" alt="CNN"></a></li>
      <li class="atlantic"><a href="http://www.theatlantic.com/politics/archive/2012/11/my-best-friend-is-gay-where-social-networks-meets-same-sex-marriage/265793/#"><img src="img/press/Atlantic.png" alt="The Atlantic"></a></li>
      <li class="economist"><a href="http://www.economist.com/news/business/21567403-techniques-presidents-election-campaigns-have-spawned-one-lot-young-firms-obama"><img src="img/press/Economist.png" alt="The Economist"></a></li>
      <li class="tc"><a href="http://techcrunch.com/2012/11/13/amicus/"><img src="img/press/TechCrunch.png" alt="TechCrunch"></a></li>
      <li class="abc"><a href="http://abclocal.go.com/kgo/story?section=news/technology&amp;id=8790249"><img src="img/press/ABC.png" alt="abc NEWS"></a></li>
      <li class="buzzfeed"><a href="http://www.buzzfeed.com/rebeccaelliott/7-under-the-hood-technologies-that-are-transformin"><img src="img/press/BuzzFeed.png" alt="Buzzfeed"></a></li>
    </ul>
</section>
<section class="footer-demo">
  <div>
    <p>
      <b>Request a free demo</b>
    </p>
    {{demo-form-component tagName="form" classNames="footer demo-form"  call-to-action="Submit"}}
  </div>
</section>
</div>