<div class="background">
  <img src="img/3.jpg" alt="placeholder+image">
  <section>
    <div class="content">
      <h1>More donors. More members. More votes.</h1>
      <h2>Turn your supporters into fundraisers and advocates.</h2>
      {{demo-form-component}}
    </div>
  </section>
</div>

<div class="content">


  {{social-proof-component}}

  <section class="press">
    <h1>In the news</h1>
    <ul>
      <li class="bloomberg"><a href="http://www.bloomberg.com/video/democratizing-democracy-shaping-the-election-p20TadhfR5KF18huJT15fQ.html">Bloomberg TV</a></li>
      <li class="cnn"><a href="http://money.cnn.com/2012/08/28/technology/startups/facebook-house/index.html">CNN</a></li>
      <li class="atlantic"><a href="http://www.theatlantic.com/politics/archive/2012/11/my-best-friend-is-gay-where-social-networks-meets-same-sex-marriage/265793/#">the Atlantic</a></li>
      <li class="economist"><a href="http://www.economist.com/news/business/21567403-techniques-presidents-election-campaigns-have-spawned-one-lot-young-firms-obama">The Economist</a></li>
      <li class="tc"><a href="http://techcrunch.com/2012/11/13/amicus/">TechCrunch</a></li>
      <li class="abc"><a href="http://abclocal.go.com/kgo/story?section=news/technology&amp;id=8790249">abc NEWS</a></li>
      <li class="buzzfeed"><a href="http://www.buzzfeed.com/rebeccaelliott/7-under-the-hood-technologies-that-are-transformin">Buzzfeed</a></li>
    </ul>
</section>
</div>