<p>
Amicus FTW, Inc. Privacy Policy Effective Date: July 26, 2013

Welcome to the Amicus App (the "App"), operated by Amicus FTW, Inc. ("Amicus," "we," "our," or "us"). We are making the world a better place by allowing you to bring your friends into your work for the common good. When you share your information with us it makes our App work better for you--by making your outreach experience more social and allowing us to improve the services we offer. As you use the App, we want you to be clear how your information is being used.

Our Privacy Policy covers several important areas, including:
What kind of information we collect from our users
How we use information submitted by our users
Security in place to protect your information
This privacy policy applies to the amicushq.com website (the "Site"), our App, any API integrations we offer, and any other web pages operated by Amicus that link to this Privacy Policy. Do not use this site or provide us with information if you do not agree with all the terms. By visiting our Site and/or using our App, you consent to all terms enclosed in our Privacy Policy. We reserve the right to update our Privacy Policy at any time.

Information We Collect

We collect information from our users to help us understand how our App is being used. This information includes personally identifying information ("Personal Information") as well as non-identifiable information collected through App activity.

Personal Information We Collect:

We collect information from users when they create an account with our App. When you sign up for an account we ask for Personal Information, such as first and last name, email address, zip code, and age. You may edit your Personal Information through the "Account Settings" icon at the top right-hand side of the App.

If you take full advantage of the App and link your Facebook account, we access your public profile, friend list, email address, birthday, education history, groups, hometown, current city, photos and your friends' birthdays, work histories, education histories, groups, hometowns and current cities. For more information refer to Facebook's Permission's Reference and Facebook's Privacy Policy. Please be advised that the information you share with Facebook will be governed by Facebook's privacy policy, and not Amicus' Privacy Policy.

We also collect volunteered Personal Information (such as an email address) if you contact us or sign up for information about our services through our Site. We retain the full content of emails from individuals who voluntarily contact us.

Non-Identifiable Information We Collect:

When you use the App or our Site, we receive and store certain personally non-identifiable information, such as server log data and information obtained through cookies.

When you use the App or our Site, we may collect a range of information that appears in server logs. This may include but is not limited to:
Information about how you use our service such as duration of visits to the App or Site.
Telephone information such as call duration and time and date of calls. We only pull call information when used within the App.
This log data is anonymous and cannot presently be used to specifically identify you, but is helpful in our efforts to improve quality and services of the App.

When you log in to the App or use the Site, we may send a small text file known as a "cookie" to your computer. This cookie uniquely identifies your computer to us and gives us information about when you log in and how long you use the App. The cookies collect no Personal information about you and cannot presently be used to specifically identify you. You are free to decline cookies through a setting in your browser if your browser allows, however this will significantly reduce the quality of the user experience.

How We Use Your Information

We use the information we collect to operate and improve the quality of the features available through Amicus. The information we collect may be used to:
Provide the Amicus team with internal information meant to improve user experience and inform our efforts of data-driven analysis. We use log information to improve user experience and the overall quality of the App, our Site and the services that we offer to users.
Create a targeted outreach tool for you. Your Personal Information allows us to customize features of the App particular to your location and social connections.
Present our client organizations with an accurate representation of the total volunteer use of the App for their campaigns.
We combine personal information collected through Facebook with information gathered from Catalist for the "Match Friends" feature in the App.

Sharing Your Information

We do not share Personal Information with organizations or individuals outside of Amicus except in the following circumstances:

With Partnering Organizations

When you provide information to use through the App and/or the Site, your information may be shared with the partnering organization for which the branded App was created. Where you log into a partnering organization's website, we may share your Personal Information and log information with that partnering organization. Log information is shared with our partnering organization as individuals use the App. It is possible our partnering organization will contact you in the future for matters unrelated to their campaign powered by Amicus. By logging in to an account on an Amicus-powered partnering organization, you consent to your Personal Information and certain non-identifying information being shared with that partnering organization.

With Third Party Providers

We may share your information with third-party organizations that provide services that power features of the App. We use Stripe, Inc. to process credit card contributions made through the App. Your credit card information is passed directly from the supporter to Stripe so Amicus never collects credit card information. Thus, if you contribute to a campaign through the App, the organization may obtain your Personal Information but will not have access to your credit card number. We share all personal user information with Catalist.

Business Transfers

In the event that Amicus in bankruptcy, merger, acquisition, reorganization or sale of assets, your information may be sold or transferred in the transaction.

Compliance with Legal Process

We may disclose personal information if we believe that such action is necessary to (a) conform to the law, comply with legal process served on us or our affiliates, or investigate, prevent, or take action regarding suspected or actual illegal activities; (b) to enforce our Terms of Service, take precautions against liability, to investigate and defend ourselves against any third-party claims or allegations, to assist government enforcement agencies, or to protect the security or integrity of our site; and (c) to exercise or protect the rights, property, or personal safety of Amicus, our Users or others.

Amicus is not responsible for the content of links that partnering organizations place on the App and/or our Site to third-party websites, nor are we responsible for third-party links to the App and/or our Site. If you wish to contest the third party's use of your personal information, contact the organization directly. Amicus will not be held liable for the acts or omissions of a third party. Please consult the third party's privacy policy to determine that third party's information collection and handling policies.

Security

We take reasonable steps to protect your Personal Information and to collect, store, and use your Personal Information in compliance with our Privacy Policy. Please be advised, however, that Internet transmissions of Personal Information cannot be 100 percent secure. Accordingly, you should use caution in determining what Personal Information you elect to disclose to us via the Internet.

Accessing or Modifying Your Information:

You may edit your Personal information through the "Settings" icon at the top right-hand side of the App. We will take reasonable steps to update our records after you edit your Personal Information. The user may access First and Last Name, Email, Phone number, and Password through the "Settings" Icon. Users must contact Amicus directly for access to all other forms of personal information.

Children's Privacy

We do not knowingly collect information from children under the age of 13 in accordance with the Children's Online Privacy Protection Act of 1998. If you are a parent or guardian of a child under 13 who you believe has submitted Personal Information to us, please email us at help@amicushq.com.

Changes to Our Privacy Policy

We reserve the right to update this Privacy Policy at any time. Where required by applicable law, we will provide notice to you of material changes or obtain consent to certain changes. Notice of material changes shall be posted on the website.

Contact Information

Amicus FTW, Inc.
224 Centre St
New York, NY 10013
help@amicushq.com
Safe Harbor Privacy Policy

Amicus complies with the U.S.-EU Safe Harbor Framework and the U.S.-Swiss Safe Harbor Framework as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of personal information from European Union member countries and Switzerland. Amicus has certified that it adheres to the Safe Harbor Privacy Principles of notice, choice, onward transfer, security, data integrity, access, and enforcement. To learn more about the Safe Harbor program, and to view Amicus’ certification, please visit http://www.export.gov/safeharbor/.

This self-certification covers our processing of personal data from Austria, Belgium, Bulgaria, Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Ireland, Italy, Latvia, Liechtenstein, Lithuania, Luxembourg, Malta, Netherlands, Norway, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden, Switzerland and the United Kingdom. Additional general information regarding Amicus’ services and how personal data entered into the site is handled can be found at http://amicushq.com/legal/privacy_policy. This policy covers data processed by Amicus on behalf of third parties and data entered into amicushq.com by consumers in the EU and Switzerland.

Amicus does not own data entered into the service by our partners, and processes such data only in accordance with the instructions of its partners, including political parties and campaigns, nonprofit organizations, individuals and business entities. In accordance with the Safe Harbor Principles, Amicus works with its partners to ensure privacy protection and clear notices to individuals about their personal data and their rights under the Safe Harbor framework.

Safe Harbor Principles

Notice: Amicus processes personal information entered into amicushq.com and other domains to provide the service described at http://amicushq.com/legal/privacy_policy. Amicus processes personal data on behalf of EU and Swiss consumers only at the direction of its partners, who are responsible for their constituents’ records. Amicus’ EU and Swiss partners are responsible for providing their members and supporters the choice to opt-out of their websites and databases. To provides its services, Amicus works with SendGrid, Inc., a bulk email provider which complies with the Safe Harbor Principles (http://safeharbor.export.gov/companyinfo.aspx?id=12736). Amicus processes personal data using industry standard encryption, including OpenSSL encryption. However, no data protection protocol is 100% secure, and Amicus does not warrant that information may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.

Choice: Third parties that use Amicus to collect personal information shall provide their users the ability to opt-out of collection of any personal data (such as not signing into the site database, or requesting that any personal data about them be removed from the service). Additionally, any member of a European Union country or Switzerland attempting to opt-out of data collections using the Amicus service can contact privacy@amicushq.com to have their information removed from the service. Amicus’ partners may have legitimate use of sensitive personal information (see Safe Harbor Framework FAQ 1 (4) and (6) -http://export.gov/safeharbor/eu/eg_main_018375.asp), including race, religion or sexual orientation. Amicus does not collect such information about the users of amicushq.com and its EU and Swiss partners should store such information only with the express opt-in permission of their constituents.

Onward Transfer: Amicus shares customer data with SendGrid for the express purpose of facilitating email communication by organizations and individuals, and with NationBuilder for the express purpose of allowing our partners volunteer management. SendGrid and NationBuilder comply with the Safe Harbor Principles.

Security: Amicus utilizes industry standard security for maintaining personal information on behalf of its partners. Amicus employees have access to personal information submitted to amicushq.com and are trained on the company’s privacy policies and the Safe Harbor Principles.

Data Integrity and Access: Consumers who enter personal information at amicushq.com or any Amicus site administered by a third party may at any time update or correct account information and email preferences at any time by logging in to your account settings and changing your contact preferences. Consumers in the European Union or Switzerland may review and correct the information about them kept by Amicus for its own services by contacting us directly at privacy@amicushq.com. Amicus’ responsibilities in this area under the Safe Harbor Principles are described at http://export.gov/safeharbor/eu/eg_main_018380.asp

Enforcement: In compliance with the US-EU and US-Swiss Safe Harbor Principles, Amicus commits to resolve complaints about your privacy and our collection or use of your personal information. European Union or Swiss citizens with inquiries or complaints regarding this privacy policy should first contact Amicus at privacy@amicushq.com.

Amicus has further committed to refer unresolved privacy complaints under the US-EU and US-Swiss Safe Harbor Principles to an independent dispute resolution mechanism, the BBB EU SAFE HARBOR, operated by the Council of Better Business Bureaus. If you do not receive timely acknowledgment of your complaint, or if your complaint is not satisfactorily addressed by Amicus, please visit the BBB EU SAFE HARBOR web site at www.bbb.org/us/safe-harbor-complaints for more information and to file a complaint.

If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this website, please contact us at privacy@amicushq.com, or send mail to:

Amicus
Attn: Janet Genser
224 Centre Street
FL 6
New York, NY 10013
USA
</p>