<form action="#" method="post" class="demo-form">
  <div class="fields">
    <input type="text" name="first-name" id="first-name" value="First Name" tabindex="1" />
    <input type="text" name="last-name" id="last-name" value="Last Name" tabindex="2" />
    <input type="text" name="organization" id="organization" value="Organization" tabindex="3" />
    <input type="text" name="email" id="email" value="Email" tabindex="4" />
  </div>
  <div class="submit">
    <input type="submit" value="Request free demo" />
  </div>
</form>