<div class="fields">
  {{input type="text" name="first-name" class="first-name" placeholder="First Name" tabindex="1"}}
  {{input type="text" name="last-name" class="last-name" placeholder="Last Name" tabindex="2"}}
  {{input type="text" name="organization" class="organization" placeholder="Organization" tabindex="3"}}
  {{input type="text" name="email" class="email" placeholder="Email" tabindex="4"}}
</div>
<div class="submit">
  <input type="submit" value="Submit" />
</div>
