<h1>Leading organizations rely on Amicus.</h1>
<ul>
  <li class="source">
    <div class="logo">
      <img alt="Afl_logo" src="https://amicus-assets-homepage.s3.amazonaws.com/assets/afl_logo-116924e9c01e8531ae5119fd5f4db442.png">
    </div>
    <div class="person">
      <p class="name">Nicole Aro</p>
      <p class="title">Director, Digital Strategies</p>
    </div>
    <p class="quote">"Amicus' friend-to-friend connections enhance our traditional outreach program and make it easier to mobilize our supporters online."</p>
  </li>
  <li class="source">
    <div class="logo">
      <img alt="Hrc_logo" src="https://amicus-assets-homepage.s3.amazonaws.com/assets/hrc_logo-cbb6feb225d6880632bb479a3fc1bdbd.png">
    </div>
    <div class="person">
      <p class="name">Lindsey Twombly</p>
      <p class="title">Social Media and Online Mobilization</p>
    </div>
    <p class="quote">"We all know the most powerful ask is a friend asking a friend to support a cause they believe in. Amicus makes this possible at scale."</p>
  </li>
  <li class="source">
    <div class="logo">
      <img alt="Nea_logo" src="https://amicus-assets-homepage.s3.amazonaws.com/assets/nea_logo-8a188bee919a3a0774175bd5055d425c.png">
    </div>
    <div class="person">
      <p class="name">Kristofer Garcia</p>
      <p class="title">Senior Campaign Specialist</p>
    </div>
    <p class="quote">"Amicus' game elements helped us boost volunteer productivity by making outreach fun and easy."</p>
  </li>
</ul>