<div class="logo">
  {{#link-to "index" tagName="li"}}
    <img id="lMark" src="img/badger-small.png" alt="">
    <img id="lType" src="img/logo-blue.png" alt="Amicus">
  {{/link-to}}
</div>
<ul class="top-nav">
  {{#link-to "features" tagName="li"}}Features{{/link-to}}
  {{#link-to "careers" tagName="li"}}Careers{{/link-to}}
</ul>
