.background.careers
  background $light-blue
  display inline-block
  width 100%
  text-align center

  h1
    margin 2em auto
    white-text()
    font-size 3em

.careers
  h1, section
    max-width 960px

  >h1
    padding 0 2em
    margin 2em auto 1em auto

  section
    overflow auto
    margin 3em auto
    padding 0 4em
    clear both

    p
      margin 1em 1em
      text-indent 1em
      max-width 760px
      margin 1em auto

    &.investors
      ul
        list-style-type none

        li
          width 200px
          float left
          text-align center

    &.openings
      div
        display table
        margin auto
        background-color #F2F8FF
        padding 1em 2em
        border 1px solid #EFF6FF

        ul
          margin-left  2.5em