.features
  section
    width 100%
    float left
    display block

    // &.counter
    //   position fixed
    //   top 40%
    //   right 10px
    //   z-index 10
    //   width 20px
    //   height 140px

    //   ul
    //     display inline-block
    //     li
    //       padding 0 0 0 0 !important
    //       margin 0
    //       display block
    //       border-radius 100%
    //       margin 5px
    //       border 1px solid darken($light-blue,10%)
    //       height 10px
    //       width 10px

    //       &.active
    //         background darken($light-blue,10%)

    //       &:nth-of-type(even)
    //         background transparent

    &.container
      ul
        list-style-type none
        margin-top 0
        margin-bottom 10em

        li
          // height 600px
          text-align center
          background lighten($light-blue, 30%)
          padding 370px 0 370px

          span
            margin 2em auto
            display inline-block

          p
            margin-left 0

          &:nth-of-type(even)
            background initial

          &:nth-of-type(1)
            padding-bottom 310px

            span
              padding 4em 5em
              background #fff
              component-shadow()

              a
                font-size 16px
                padding .8em 1.5em
                background #94ce5c
                border 1px solid #94ce5c
                color white
                border-radius 1.5*$radius
                cursor pointer
                font-weight 400

                &:hover
                  background #85c745

          &:nth-of-type(2)
            padding-bottom 310px

            span
              padding 4em 5em
              background #fff
              component-shadow()

              a
                padding .8em 1.5em
                background #F9F8DE
                border 1px solid #cece28
                color #62b3e0
                font-size 16px
                cursor pointer
                font-weight 400

                &:hover
                  color #4e8fb3

          &:nth-of-type(3)
            padding-bottom 310px

            span
              component-shadow()
              background #F3F6F8
              padding 1em

              p
                margin-top 0
                text-align left

              form
                background #fff

                fieldset
                  border none
                  padding 0
                  margin 0

                  label
                    padding 1em
                    text-align left
                    display block
                    border 1px solid transparent

                    &:hover
                      background lighten(#F3F6F8, 60%)
                      cursor pointer
                      border-color darken(#F3F6F8, 3%)

                    input
                      margin-right 1em

.features.footer-demo
  max-width 350px
  margin 10em auto
  display table
  float none