.features
  section
    width 100%
    float left
    display block

    ul
      list-style-type none
      margin-top 0
      li
        height 600px
        text-align center
        background lighten($blue, 97%)
        padding-top 275px

        &:nth-of-type(even)
          background lighten($blue, 95%)
