form.demo-form
  p
    text-align center
    margin-left 0
    padding 1.2em
    font-weight 300

  .fields
    input
      input()

      &.first-name,&.last-name
        width 50%
        float left
        border-top none

      &.last-name
        border-left 2px solid lighten($light-blue, 60%)

  .submit
    width 100%

    input
      input()
      float left
      padding 1.2em
      background $red
      width 100%
      color white
      font-size 1.3em

      &:hover
        cursor pointer
        background #F26379