.container
  float left
  width 100%

.content
  h1
    text-align center

  section.social-proof
    margin 10em 0

    ul
      display inline-block
      padding 0
      list-style-type none

      li.source
        width 33%
        float left

        &:first-of-type
          .logo
            img
              padding 7px 0 6px 0

        &:nth-of-type(2)
          .logo
            img
              padding  5px 0

        &:last-of-type
          .logo
            img
              padding 1px 0 2px 0

        .logo
          height 80px

          img
            width 200px
            margin auto
            display block

        .person
          margin 1em 0
          p
            text-align center
            color #999
            margin 0

            &.name
              font-weight bold

            &.title
              font-size .8em

        .quote
          text-align center
          margin 2em 1.5em 0 1.5em
          font-size .8em
          font-style italic

  section.press
    margin 5em 0 2em 0

    ul
      display inline-block
      list-style-type none
      width 100%

      li
        width (100/7)%
        float left

        a
          display block
          width 100%
          text-align center

          img
            height 30px
            opacity .4

          &:hover
            img
              opacity 1

section.features
  margin-top 2em
  display inline-block
  width 100%
  background $light-blue

  h1
    white-text()
    margin 2em 3em 1em

  ul
    width 100%
    margin auto
    list-style-type none
    padding 0 3em
    display table

    li
      width 25%
      padding 0
      float left
      text-align center

      a
        width 100%
        padding 2em 2em 4em 2em
        display inline-block
        color darken($light-blue, 30%)

        &:hover
          color darken($light-blue, 45%)
          background lighten($light-blue,40%)

        img
          height 130px
          display block
          margin 1em auto

.footer-demo
  margin 4em auto
  width 350px
  component-shadow()

  div
    display table

  p
    border-radius $radius $radius 0 0
    margin 0
    background white
    text-align center
    padding 1em
    border-bottom 2px solid lighten($light-blue, 60%)

  .footer.demo-form
    width 100%
    float none
    display table

    .submit
      input
        border-radius 0 0 $radius $radius