.banner
  width 100%
  overflow hidden
  background linear-gradient(-45deg, lighten(#8ABFE6, 40%),  #8ABFE6)
  margin-bottom 4em
  position relative

  img
    position absolute
    left -80px
    width 80%
    min-width 1024px
    z-index 0
    bottom -5px

  section
    position relative
    z-index 10
    width 100%
    margin 5% 0
    float left

    h1, h2
      white-text()
      text-align left
      text-shadow 0 3px 7px rgba(63, 116, 157,0.3)
      background-color rgba(139,191,230,0.1)
      box-shadow 0 0 50px 20px rgba(139,191,230,0.1)
      rgba(139,191,230,1)

    h1
      text-align center
      font-size 3em
      font-weight bold
      margin-bottom 0
      margin-top 1em

    h2
      color #fff
      font-weight 300
      font-size 2em
      margin .5em 0 1em
      text-align center

  form
    width 28%
    float right
    position relative
    margin 0 5% 200px 5%
    component-shadow()

    .fields
      input
        &:nth-of-type(1)
          border-top none
          border-radius $radius 0 0 0

        &:nth-of-type(2)
          border-radius 0 $radius 0 0

    .submit
      input
        &:last-of-type
          border-radius 0 0 $radius $radius