@media only screen and (max-device-width: 480px)
  *
    -webkit-appearance none

  body
    *:hover
      underline none
    nav
      padding 0

      .logo
        padding 1em 0 0
        width 100%

        li
          display table
          margin auto

      ul.top-nav
        padding 0 5em
        width 100%
        margin-bottom 1em

        li
          color $blue
          padding 1em 0 0
          width 50%
          text-align center

    .container
      form.demo-form
        .fields
          input
            &:hover
              background lighten($light-blue, 85%)

      .banner
        padding 0 1em
        img
          display none

        form.demo-form
          margin 0 0 50px
          width 100%

          .fields
            input
              border-radius 0
              box-shadow 0

              &:hover
                background lighten($light-blue, 85%)

      .content
        section.social-proof
          margin 4em 0 0 0
          padding 0 1em

          ul
            li.source
              width 100% !important
              margin-bottom 4em

              &:last-of-type
                margin-bottom 2em

              .person
                margin 0
              .quote
                margin-top 1em

        section.press
          padding 0 1em

          ul
            li
              width 100%

              a
                padding 1em

      section.features
        padding 0 1em

        h1
          margin 1.5em 0
          text-align center
          width 100%

        ul
          width 100%
          padding 0

          li
            width 100%

      .careers
        section
          margin-bottom 0
          padding 0 3em

          h2
            text-align center

          &.investors
            ul
              li
                width 100%

          &.openings
            padding 0
            margin-top 0

            h1
              text-align center

            div
              margin 1em

              p
                text-indent 0
                padding 0 1em

              ul
                padding 0 1em
                margin-left 1em

                li
                  margin-bottom .3em

          &.apply
            padding 0 1em

            div
              max-width initial
              width 100%

              form
                input
                  &:hover
                    background lighten($light-blue, 85%)

      div.features
        section.container
          ul
            margin-bottom 0
            float left

            li
              padding 0 2em

              .copy
                margin 100px 0 40px

              .icons
                display none

              .next
                padding 1em

        section#demo.footer-demo
          margin 0
          max-width initial
          width 100%
          padding 2em 1em

          *
            border-radius 0

      .text-page
        padding 0 2em

        h1
          font-size 1.6em

        h2
          font-size 1.3em
          line-height 1.4em

        p
          padding 0 .5em
          margin-left 0

        ul
          padding 0 1em
          margin-left 1em

    footer
      margin-top 5em
      ul
        li
          font-size 1.2em
          width 10em
          margin auto
          padding 1em

        p
          margin-top 1em