nav, footer
  float left
  width 100%
  clear both
  display inline-block
  font-size .8em
  // position relative
  // z-index 4

  ul, li
    padding 0
    display inline-block
    list-style-type none

    li
      cursor pointer
      list-style-type none
      color $red
      width auto

nav
  background white
  border-bottom 1px solid lighten($blue, 95%)
  // position absolute
  // top 0
  padding 1em 2em

  .logo
    margin 0
    float left
    cursor pointer

    li
      padding 3px
      &.active
        border-bottom none

      img
        height 30px

  ul
    margin 0
    float right
    margin-bottom 0

    li
      color $blue
      font-weight 400
      display block
      float left
      padding .5em 1em
      border-bottom .2em solid transparent

      &:hover
        border-bottom-color $red

footer
  ul
    padding 1em 2em
    margin auto
    display block

  p, ul
      float none
      text-align center

      li
        width initial
        padding .2em 0
        display block

        &:hover
          color $hover

  p
    padding .1em 0
    margin 0