nav, footer
  width 100%
  clear both
  display inline-block
  font-size .8em

  ul, li
    padding 0
    display inline-block
    list-style-type none

    li
      cursor pointer
      list-style-type none
      color $red
      width auto

nav
  position absolute
  top 0
  padding 1em 2em

  .logo
    margin .5em
    float left
    cursor pointer

    li
      img
        width 200px

  ul
    float right
    margin-bottom 0

    li
      color white
      font-weight 400
      display block
      float left
      padding .5em 1em
      border-bottom .2em solid transparent

      &:hover
        border-bottom-color $red

footer
  ul
    padding 1em 2em
    margin auto
    display block

  p, ul
      float none
      text-align center

      li
        width initial
        padding .2em 0
        display block

        &:hover
          color $hover

  p
    padding .1em 0
    margin 0