section
  h1
    font-size 2em

h1
  font-weight 400

h2
  font-weight 400

p
  margin-left 1em
  font-size 1.2em
  line-height 1.6em

b
  font-weight 400
  display inline

ul
  font-size 1.2em
  line-height 1.6em